<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="@BrrGrr">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogz | {{page_title}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="container-fluid navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="mdi mdi-menu" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand" href="/">
                <i class="mdi mdi-hamburger" aria-hidden="true"></i> Blogz</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="btn btn-default" href="/">
                        <i class="mdi mdi-home" aria-hidden="true"></i>
                        Home</a>
                </li>
                <li>
                    <a class="btn btn-default" href="/blog">
                        <i class="mdi mdi-view-list" aria-hidden="true"></i>
                        Blog</a>
                </li>
                <li>
                    <a class="btn btn-default {% if not logged_in %}hidden{% endif %}" href="/newpost">
                        <i class="mdi mdi-lead-pencil" aria-hidden="true"></i>
                        Add New</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if logged_in %}
                <li>
                    <a class="btn btn-default" href="/blog?user={{logged_in.id}}">
                        <i class="mdi mdi-account" aria-hidden="true"></i>
                        {{logged_in.username}}</a>
                </li>
                <li>
                    <a class="btn btn-default" href="/logout">
                        <i class="mdi mdi-logout" aria-hidden="true"></i>
                        Logout</a>
                </li>
                {% else %}
                <li>
                    <a class="btn btn-default" href="/signup">
                        <i class="mdi mdi-account-plus" aria-hidden="true"></i>
                        Signup</a>
                </li>
                <li>
                    <a class="btn btn-default" href="/login">
                        <i class="mdi mdi-login" aria-hidden="true"></i>
                        Login</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </nav>
    <header class="container">
        <h1>{{page_title}}</h1>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
        <section class="flashes">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </section>
        {% endif %} {% endwith %}
    </header>

    <main class="container">
        {% block content %} {% endblock %}
    </main>
    {% macro render_pagination(pagination, endpoint) %}
    <div class=pagination>
    {%- for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
        {% else %}
          <strong>{{ page }}</strong>
        {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {%- endfor %}
    </div>
  {% endmacro %}
    <footer class="container">
        <div class="row small">
            <div class="col-xs-5 text-left">&copy; 2017 Eric M Berger</div>
            <div class="col-xs-7 text-right text-nowrap">All rights reserved. All wrongs reversed.</div>
        </div>
        <div class="row">
            <div class="text-center">
                <i class="mdi mdi-hamburger" aria-hidden="true"></i>
            </div>
        </div>
    </footer>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/blogz.js') }}"></script>
</body>

</html>
