{% extends "base.html" %}

{% block content %}
<form style="display:inline;" action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username </label></td>
            <td>
                <input name="username" type="text" value="{{ username }}" required>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password" required>
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
<!-- User does not have an account and clicks "Create Account" and is directed to the /signup page. -->
<p><a href="/signup">Create Account</a></p>
{% endblock %}