{% extends "base.html" %}

{% block content %}

    <hr />
    <section>
        <h2>Add a Blog Entry</h2>
        <form method='post'>
            <table>
                <tr>
                    <td><label for="title">Post Title:</label></td>
                    <td><input type="text" name="title" /></td>
                </tr>
                <tr>
                    <td><label for="body">Post Body:</label></td>
                    <td><textarea name="body" cols="30" rows="10"></textarea>
                    </td>
                </tr>
            </table>
            <input type="submit" value='Add Entry' />
        </form>
    </section>

{% endblock %}