{% extends "base.html" %}
{% block content %}

<section>
    {% if posts.items|length == 0 %}

    <p>No posts available.</p>

    {% else %}
    <div class="blog-list list-group">
        {% for post in posts.items %}

        <div class="list-group-item row">
            <a  href="/blog?id={{post.id}}" class="list-group-item-heading h3 text-capitalize col-sm-9">{{post.title}}</a>
            <p class="list-group-item-text col-sm-3 small">{{post.pub_date}}</p>

            <p class="list-group-item-text col-sm-12">{{post.body}}</p>
        </div>

        {% endfor %}
    </div>

    {% if posts.has_prev or posts.has_next %}{{ render_pagination(posts, 'blog', '?user='+ user_id) }}{% endif %}

    {% endif %}
</section>

{% endblock %}
